body {
  font-family: "Lucida Sans", Verdana, sans-serif;
  font-size: 1.2em;
  color: rebeccapurple;
}

.header {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 2em;
  margin: 10px;
}

.flex-parent {
  display: flex;
  justify-content: space-around;
}

.flex-child {
  width: 200px;
  color: goldenrod;
}
